@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700i|Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body, html {
  height: 100%;
  padding:0;
  background-color:#8D5B4C;
}



@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  p{
    font-size: 15px;
    
  }

  h1{
    font-size: 20px;
  }

   
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
 p{
    font-size: 13px;

    
  }

  h1{
    font-size: 15px;
  }

  h3{
    font-size:12px;
  }

  .center{
    font-size: 60px;
  }

.column {
    width: 100%;
  }

}


.parallax {
  /* The image used */
  background-image: url('../img/horse1.gif');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
}

.parallax2 {
  /* The image used */
  background-image: url('../img/horse2.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 19%, 100% 0, 100% 100%, 0 100%);
clip-path: polygon(0 19%, 100% 0, 100% 100%, 0 100%);
}

.paralax3{
 /* The image used */
  background-image: url('../img/horse4.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

}

.paralax4{
 /* The image used */
  background-image: url('../img/horse5.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);

}

.paralax5{
 /* The image used */
  background-image: url('../img/horse8.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);

}

.brown{
background-color:#8D5B4C;
padding:10px;
}

.tit{
  height:65px;
  padding:15px;
  background-color:rgba(165, 151, 139, 0.4);
  


}

.half{
  float:left;
  margin-right: 18px;
  display:inline-block;
  width:50%;
}

.right{
  width:100%;
}

#half{
height:590px;

}

h1{

  font-family: 'Playfair Display';
  font-size: 40px;
  color: white;

}

h2{

  font-family: 'Playfair Display';
  font-style:italic;
  font-weight: 400;

  font-size: 25px;
  color:white;
}

h3{
  color:rgba(90, 42, 38, 0.7);
  font-family: 'Roboto Slab';
  text-align: left;
  font-size:21px;
  text-decoration: overline dotted #c4bbaf;

}

h4{

  font-family: 'Roboto';
  font-size:12px;
  color:white;
}

p{
  color: white;
  width:70%;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;

}

