

@import url('https://fonts.googleapis.com/css?family=Alike+Angular');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Space+Mono|Tillana');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {

  margin-bottom: 400px;
  font-family: 'Gidugu';
  font-size: 30px;
}

* {
  box-sizing: border-box;
}


p{
  display: inline-block;
	font-size:18px;
  color:#498367;
  margin: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  font-family: 'Raleway';
  width:70%;
  text-align: justify;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  p{
  	font-size: 15px;
    
  }

  h1{
    font-size: 20px;
  }

   
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
 p{
  	font-size: 13px;

    
  }

  h1{
    font-size: 15px;
  }

  .center{
    font-size: 60px;
  }

.column {
    width: 100%;
  }

}




.block {
  width: 100%;
  opacity: 0;
/*  margin:auto;*/
/*  display:inline-block;*/
}

.block img{
  width:30%;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
h1 {
font-size: 60px;
font-family: 'Dancing Script';
color:#FFF;
margin-left: 20px;
margin-top: 6%;
/*text-align: center;*/


}

.photo{
  width:200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.innerp{
   margin-right: auto;
  margin-left: 15%;
  width:50%;
}

#arrow{

animation-duration: 2s;  
}
#start{

	background-image:url('../img/island.jpg');
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
	height:800px;
	width:100%;
}

.pop{

  float:right;
  padding:15px;
 background-color: rgb(82,183,136, 0.6);
 width:60%;

 border-radius: 70px 0px 0px 70px;
 margin-top: 5%;
 margin-left: 20px;
 margin-bottom: 20px;
 background-opacity: 40%;

}

.center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
 
  font-size: 90px;
font-family: 'Dancing Script';
color:#FFF;
}

#block0{
height:850px;
background-color: #EDE5A6;
box-sizing: border-box;

}

#block1{
height:600px;
background-color:#B2D3A8;


}

#block2{
height:500px;

}

#block3{
height:500px;

}
